### Import Packages

In [12]:
import numpy as np

%store -r df

### Data Preparation

#### Sort by Date

In [13]:
df.sort_values('date')

df.head(3)

,station_name,date,air_temp,wet_bulb_temp,humidity,rain_intensity,interval_rain,total_rain,precipitation_type,wind_direction,...,battery_life,year,month,day,hour,minute,weekday,weekofyear,season,timing
0,Oak Street Weather Station,2015-05-22 15:00:00,NaN,7.0,55.0,0.0,0.0,1.4,0.0,63.0,...,12.0,2015,5,22,15,0,Friday,21,Spring,Afternoon
1,Oak Street Weather Station,2015-05-22 17:00:00,NaN,6.3,56.0,0.0,0.0,1.4,0.0,124.0,...,12.1,2015,5,22,17,0,Friday,21,Spring,Evening
2,Oak Street Weather Station,2015-05-22 18:00:00,NaN,6.5,54.0,0.0,0.0,1.4,0.0,156.0,...,12.1,2015,5,22,18,0,Friday,21,Spring,Evening

#### Remove Unnecessary Columns

In [14]:
try:
  df = df.drop(columns=['minute', 'wet_bulb_temp', 
                        'rain_intensity', 'interval_rain', 
                        'total_rain', 'precipitation_type', 
                        'wind_direction', 'wind_speed', 
                        'max_wind_speed', 'barometric_pressure', 
                        'solar_radiation', 'heading'])
except Exception:
  pass

df.head(3)

,station_name,date,air_temp,humidity,battery_life,year,month,day,hour,weekday,weekofyear,season,timing
0,Oak Street Weather Station,2015-05-22 15:00:00,NaN,55.0,12.0,2015,5,22,15,Friday,21,Spring,Afternoon
1,Oak Street Weather Station,2015-05-22 17:00:00,NaN,56.0,12.1,2015,5,22,17,Friday,21,Spring,Evening
2,Oak Street Weather Station,2015-05-22 18:00:00,NaN,54.0,12.1,2015,5,22,18,Friday,21,Spring,Evening

#### Add t-1 Column

Necessary to detect unavailable data.

In [15]:
dfs = [df[df['station_name']=='Oak Street Weather Station'], df[df['station_name']=='Foster Weather Station'], df[df['station_name']=='63rd Street Weather Station']]

df['air_temp_t-1'] = np.nan
df['humidity_t-1'] = np.nan
df['battery_life_t-1'] = np.nan

for x in dfs:
  prev = None

  for index, row in x.iterrows():
    try:
      # if prev is set to None throw exception
      hour1 = prev['hour']
      hour2 = row['hour'] - 1

      if hour2 < 0:
        hour2 = 23
      
      if (hour1 == hour2):
        df.at[index, 'air_temp_t-1'] = prev['air_temp']
        df.at[index, 'humidity_t-1'] = prev['humidity']
        df.at[index, 'battery_life_t-1'] = prev['battery_life']
    except TypeError:
      pass

    prev = row

df.head(3)

,station_name,date,air_temp,humidity,battery_life,year,month,day,hour,weekday,weekofyear,season,timing,air_temp_t-1,humidity_t-1,battery_life_t-1
0,Oak Street Weather Station,2015-05-22 15:00:00,NaN,55.0,12.0,2015,5,22,15,Friday,21,Spring,Afternoon,NaN,NaN,NaN
1,Oak Street Weather Station,2015-05-22 17:00:00,NaN,56.0,12.1,2015,5,22,17,Friday,21,Spring,Evening,NaN,NaN,NaN
2,Oak Street Weather Station,2015-05-22 18:00:00,NaN,54.0,12.1,2015,5,22,18,Friday,21,Spring,Evening,NaN,56.0,12.1