### Import Packages

In [9]:
import numpy as np

%store -r df

### Data Preparation

#### Remove Unnecessary Columns

In [10]:
try:
  df = df.drop(columns=['date', 'minute', 'wet_bulb_temp', 
                        'rain_intensity', 'interval_rain', 
                        'total_rain', 'precipitation_type', 
                        'wind_direction', 'wind_speed', 
                        'max_wind_speed', 'barometric_pressure', 
                        'solar_radiation', 'heading'])
except Exception:
  pass

df.head(3)

,station_name,air_temp,humidity,battery_life,status,year,month,day,hour,weekday,weekofyear,season,timing
0,63rd Street Weather Station,7.0,86.0,12.0,online,2015,4,25,9,Saturday,17,Spring,Morning
62280,63rd Street Weather Station,NaN,NaN,NaN,offline,2015,4,25,10,Saturday,17,Spring,Morning
62281,63rd Street Weather Station,NaN,NaN,NaN,offline,2015,4,25,11,Saturday,17,Spring,Morning

#### t-1 Functionality

Add t-1 Column for important Columns

In [11]:
if not 'air_temp_t-1' in df: df['air_temp_t-1'] = np.nan
if not 'humidity_t-1' in df: df['humidity_t-1'] = np.nan
if not 'battery_life_t-1' in df: df['battery_life_t-1'] = np.nan

Copy previous Value to t-1 Column

In [12]:
dfs = [df[df['station_name']=='Oak Street Weather Station'], df[df['station_name']=='Foster Weather Station'], df[df['station_name']=='63rd Street Weather Station']]

for x in dfs:
    
    prev = None

    for index, row in x.iterrows():
        try:
            # if prev is set to None throw exception
            df.at[index, 'air_temp_t-1'] = prev['air_temp']
            df.at[index, 'humidity_t-1'] = prev['humidity']
            df.at[index, 'battery_life_t-1'] = prev['battery_life']

        except TypeError:
            pass

        prev = row

df.head(10)

,station_name,air_temp,humidity,battery_life,status,year,month,day,hour,weekday,weekofyear,season,timing,air_temp_t-1,humidity_t-1,battery_life_t-1
0,63rd Street Weather Station,7.0,86.0,12.0,online,2015,4,25,9,Saturday,17,Spring,Morning,NaN,NaN,NaN
62280,63rd Street Weather Station,NaN,NaN,NaN,offline,2015,4,25,10,Saturday,17,Spring,Morning,7.0,86.0,12.0
62281,63rd Street Weather Station,NaN,NaN,NaN,offline,2015,4,25,11,Saturday,17,Spring,Morning,NaN,NaN,NaN
62282,63rd Street Weather Station,NaN,NaN,NaN,offline,2015,4,25,12,Saturday,17,Spring,Afternoon,NaN,NaN,NaN
62283,63rd Street Weather Station,NaN,NaN,NaN,offline,2015,4,25,13,Saturday,17,Spring,Afternoon,NaN,NaN,NaN
62284,63rd Street Weather Station,NaN,NaN,NaN,offline,2015,4,25,14,Saturday,17,Spring,Afternoon,NaN,NaN,NaN
62285,63rd Street Weather Station,NaN,NaN,NaN,offline,2015,4,25,15,Saturday,17,Spring,Afternoon,NaN,NaN,NaN
62286,63rd Street Weather Station,NaN,NaN,NaN,offline,2015,4,25,16,Saturday,17,Spring,Afternoon,NaN,NaN,NaN
62287,63rd Street Weather Station,NaN,NaN,NaN,offline,2015,4,25,17,Saturday,17,Spring,Evening,NaN,NaN,NaN
62288,63rd Street Weather Station,NaN,NaN,NaN,offline,2015,4,25,18,Saturday,17,Spring,Evening,NaN,NaN,NaN